In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv('/home/lewis/code/Digit-Classifier/data/train.csv')

In [ ]:
train_data.head()

In [3]:
X = train_data.drop(columns=['label'])
y = train_data['label']

In [ ]:
X.head()

In [4]:
X_array = np.array(X)

In [ ]:
img_1 = X_array[0].reshape((28,28))

In [ ]:
plt.imshow(img_1, cmap='binary');

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
scaler = MinMaxScaler()

In [7]:
X_transformed = scaler.fit_transform(X_array)

In [ ]:
X_transformed

In [ ]:
X.shape

## LinearSVC

In [ ]:
from sklearn.svm import LinearSVC

In [ ]:
model = LinearSVC()

In [ ]:
model.fit(X_transformed, y, )

In [8]:
from sklearn.model_selection import cross_validate

In [ ]:
cv_results = cross_validate(model, X_transformed, y, cv=5, scoring=['accuracy'])

In [ ]:
cv_results

In [ ]:
cv_results['test_accuracy'].mean()

## KNeighbors Classifier

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
KN_model = KNeighborsClassifier(n_neighbors=4)

In [11]:
KN_model.fit(X_transformed, y)

KNeighborsClassifier(n_neighbors=4)

In [12]:
cv_results_KN = cross_validate(KN_model, X_transformed, y, cv=5, scoring=['accuracy'], verbose=1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:   35.2s finished

In [13]:
cv_results_KN['test_accuracy'].mean()

0.9650952380952381

## Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
model_bayes = GaussianNB()

In [ ]:
model_bayes.fit(X_transformed, y)

In [ ]:
cv_results_bayes = cross_validate(model_bayes, X_transformed, y, cv=5, scoring=['accuracy'], verbose=1)

In [ ]:
cv_results_bayes['test_accuracy'].mean()

## Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
tree = DecisionTreeClassifier()

In [ ]:
tree.fit(X_transformed, y)

In [ ]:
cv_results_tree = cross_validate(tree, X_transformed, y, cv=5, scoring=['accuracy'], verbose=1)

In [ ]:
cv_results_tree['test_accuracy'].mean()

## Neural Network

In [ ]:
from tensorflow.keras import layers, Sequential, Input

In [ ]:
X_transformed.shape

In [ ]:
model = Sequential()

model.add(Input(shape=(,784)))
model.add(layers.Conv2D(16, activation='relu'))


model.add(layers.Dense(32, activation='relu'))
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dense(1, activation='softmax'))

model.compile(optimizer=jn)

In [ ]:
KN_model.get_params()

In [14]:
params = [{
    'n_neighbors': [2,4,10],
    'n_jobs': [2,4,8]
}]

In [15]:
from sklearn.model_selection import GridSearchCV

In [18]:
grid = GridSearchCV(KN_model, 
                    params, 
                    scoring='accuracy', 
                    cv=10, 
                    verbose=1)

In [ ]:
grid.fit(X_transformed, y)

In [ ]:
x=5

In [20]:
test_data = pd.read_csv('/home/lewis/code/Digit-Classifier/data/test.csv')

In [21]:
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X_test = scaler.transform(test_data)

/home/lewis/.pyenv/versions/3.10.6/envs/lewagon1#/lib/python3.10/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but MinMaxScaler was fitted without feature names
  warnings.warn(

In [24]:
y_pred = KN_model.predict(X_test)

In [25]:
sample_sub = pd.read_csv('/home/lewis/code/Digit-Classifier/data/sample_submission.csv')

In [26]:
sample_sub

       ImageId  Label
0            1      0
1            2      0
2            3      0
3            4      0
4            5      0
...        ...    ...
27995    27996      0
27996    27997      0
27997    27998      0
27998    27999      0
27999    28000      0

[28000 rows x 2 columns]

In [27]:
X_test.shape

(28000, 784)

In [29]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28000 entries, 0 to 27999
Columns: 784 entries, pixel0 to pixel783
dtypes: int64(784)
memory usage: 167.5 MB

In [31]:
len(y_pred)

28000

In [33]:
sample_sub['Label'] = y_pred

In [36]:
sample_sub.to_csv('Final_Submission.csv')

In [37]:
final_submission = pd.read_csv('Final_Submission.csv')

In [39]:
final_submission.drop(columns=['Unnamed: 0'], inplace=True)

In [41]:
final_submission.to_csv('Final.csv')

In [42]:
test_csv = pd.read_csv('Final.csv')

In [44]:
test_csv.drop(columns=['Unnamed: 0', 'ImageId'], inplace=True)

In [46]:
test_csv.to_csv('FinalFinal.csv')

In [47]:
final_submission

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [67]:
final_df = pd.DataFrame(columns=['ImageId', 'Label'])

In [68]:
final_df['ImageId'] = np.arange(1,28001)

In [69]:
final_df['Label'] = y_pred

In [70]:
final_df

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [74]:
final_df.to_csv('Final_Sub.csv', index=False)

In [72]:
test = pd.read_csv('Final_Sub.csv')

In [73]:
test

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]